easydict==1.13
aiofiles==24.1.0
imageio==2.36.0
fastapi==0.115.6
opencv-python==4.10.0.84
python-multipart==0.0.19
requests==2.32.3
torch==2.5.1
torchvision==0.20.1
uvicorn==0.32.1
webdataset==0.2.100